<h1>Purpose</h1>
<p>This is my page where I review bits and pieces that I enjoy. Feel free to read through my reviews. They
    are mainly there to boost my own retention and make me remember my experiences.</p>

<h1>Technology</h1>
<p>This site was programmed over the course of 4 or 5 hours as a challenge to myself to create a json-powered and
    routed review website without any clientside dependencies. It includes a (primitive) templating engine (using
    the extremely cool Promise.all and a html5 history API compliant route manager as well. This creates a fast
    (and simple) fetch API powered one page application. The styling used is intended to reflect that.</p>

<h1>Source Code</h1>
<p>If you'd like to read to source code (or host a copy of the site yourself) you can do so by downloading
    the repo. It requires no server-side processing or database. It is all flat files and can be dropped into
    the web folder and run immediately.</p>
